/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * welcometo implementation : © Geoffrey VOYER <geoffrey.voyer@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * welcometo.css
 *
 * welcometo stylesheet
 *
 */

$breakpoint:1250px;

@font-face {
  font-family: 'Caveat';
  src: url('img/font/Caveat-Regular.woff2') format('woff2'),
    url('img/font/Caveat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas';
  src: url('img/font/BebasNeue-Regular.woff2') format('woff2'),
    url('img/font/BebasNeue-Regular.woff') format('woff'),
    url('img/font/BebasNeue-Regular.ttf') format('truetype'),;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@mixin handwritten {
  font-size: x-large;
  font-family: "Caveat";
}

@mixin centered {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin highlight {
  &.selectable {
    cursor:pointer;
    background-color:rgba(255,0,0, 0.3);
    animation:borderBlink 0.9s infinite;
  }

  &.unselectable {
    cursor:not-allowed;
  }
}

@keyframes borderBlink {
  0%   { border-color: white; border-style: dashed; }
  49%  { border-color: white; }
  50%  { border-color: black; }
  99% { border-color: black; }
  100% { border-color:white; border-style: dashed; }
}

@keyframes borderBlink2 {
  0%   { border: 2px dashed red; }
  49%  { border: 2px dashed red; }
  50%  { border: 2px dashed black; }
  99% { border: 2px dashed black; }
  100% { border: 2px dashed red; }
}


@keyframes backgroundBlink {
  0%   { background-color:rgba(255,0,0, 0.3); }
  49%  { background-color:rgba(255,0,0, 0.3); }
  50%  { background-color:rgba(255,255,255, 0.3); }
  99% { background-color:rgba(255,255,255, 0.3);  }
  100% { background-color:rgba(255,0,0, 0.3); }
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}


/* Cancelled notification messages */

.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(239, 154, 154, 0.6);
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}


@import 'modules/css/welcometo.variables';

@import 'modules/css/wtoLayout';
@import 'modules/css/wtoPlayerBoard';
@import 'modules/css/wtoCards';
@import 'modules/css/wtoScoreSheet';
@import 'modules/css/wtoScribble';
@import 'modules/css/wtoModal';

@import 'modules/css/nouislider';
