/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * welcometo implementation : © Geoffrey VOYER <geoffrey.voyer@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * welcometo.css
 *
 * welcometo stylesheet
 *
 */


@font-face {
  font-family: 'Caveat';
  src: url('img/font/Caveat-Regular.woff2') format('woff2'),
    url('img/font/Caveat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin handwritten {
  font-size: x-large;
  font-family: "Caveat";
}

@mixin centered {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@import 'welcometo.variables';


/*****************************
******************************
*********** CARDS ************
******************************
*****************************/
$cardWidth:200px;
$cardHeight:520px * $cardWidth / 343px;
$cardMargin:5px;

#cards-container {

  #construction-cards-container {
    display:flex;
    flex-flow:row;
    flex-grow:1;
    justify-content: space-around;

    .construction-cards-stack {
      display:flex;
      flex-flow:row;
      border:4px solid transparent;
      border-radius:4px;
      width:$cardWidth;
      height:$cardHeight;

      &.unselectable {
        opacity:0.6;
        cursor:not-allowed;
      }

      &.selectable {
        cursor:pointer;
        &:hover {
          transform:scale(1.02);
          border-color:red;
        }
      }

      &.selected {
        border-color:red;
        &.unselectable {
          opacity:1;
          cursor:default;
        }
      }
    }

    /* Standard mode : changing display for nice flip animation */
    &.standard {
      .construction-cards-stack {
        position:relative;
        width:2*$cardWidth + $cardMargin;
      }
      .construction-card-holder {
        position:absolute;
        top:0;
        left:0;
        transform-origin: ($cardWidth + $cardMargin / 2) / $cardWidth * 100% 0%;
      }
    }

    .construction-card-holder {
      width:$cardWidth;
      height:$cardHeight;
      transition: transform .5s ease-in-out;
      transform-origin: 50% 50%;
      transform-style: preserve-3d;
      &.flipped {
        transform:rotateY(180deg);
      }

      .construction-card-back, .construction-card-front {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        backface-visibility: hidden;
      }

      .construction-card-back {
        background-image:url("img/construction_back.jpg");
        background-size:cover;
        transform: rotateY(180deg);
        z-index:2;
      }

      .construction-card-front {
        background-image:url("img/construction_front.jpg");
        background-size:cover;
      }

      @for $i from 1 through 6 {
        &[data-action="#{$i}"] .construction-card-back { background-position: ($i - 1)*100%/5 center; }
      }

      @for $i from 1 through 15 {
        &[data-number="#{$i}"] .construction-card-front { background-position: ($i - 1)*100%/14 center; }
      }
    }
  }
}

/*
@media only screen and (min-width: 1500px) {
    #responsive_construction_cards {
        width: 66%;
        display: inline-block;
    }
    #responsive_plan_cards {
        width: 33%;
        display: inline-block;
    }
}
*/



/***********************************
************************************
*********** SCORE SHEET ************
************************************
***********************************/
.score-sheet-container {
  width: 1544px;
  height:1544px;

  .score-sheet {
    width: 1544px;
    height:1544px;
    background-image: url("img/board.png");
    background-size: 100%;
    position: relative;

  /********************************
  *** Hightlight recent actions ***
  ********************************/
  @for $t from 1 through 30 {
    &[data-turn="#{$t}"] .house-number[data-turn="#{$t}"] {
      color:red;
    }
  }

  /*****************************
  ******************************
  ********* UPPER PART *********
  ******************************
  *****************************/
    /////////// CITY NAME ////////////
    .cityname {
      position:absolute;
      top: 253px;
      left: 92px;
      width: 207px;
      height: 70px;
      font-size:32px;
      word-break: break-all;
      @include handwritten;
      @include centered;
    }


    /////////// HOUSES ////////////
    .house {
      position:absolute;
      width:70px;
      height:86px;
      box-sizing: border-box;
      clip-path:polygon(0 0, 100% 0, 100% 70px, 45px 70px, 45px 86px, 11px 86px, 11px 70px, 0 70px);

      &.built {
        border:2px solid black;

        .house-number {
          margin:auto;
          @include handwritten;
          @include centered;
          font-size:55px;
          line-height:61px
        }
      }

      @each $x, $street in $houses {
        @each $y, $house in $street {
          &[data-x="#{$x}"][data-y="#{$y}"] {
            left: map-get($house, 'left');
            top: map-get($house, 'top');
          }
        }
      }

      &.unselectable:not(.built) {
        background-color:rgba(155, 155, 155, 0.8);
        cursor:not-allowed;
      }

      &.selectable {
        cursor:pointer;
        background:rgba(255,0,0,0.5);
        background-image: url("img/truelle.png");
        background-size: contain;
        animation: 2s ease-in-out 0.5s infinite alternate hammerHighlight;
        @keyframes hammerHighlight { from { opacity: 1; }  to { opacity: 0; } }

        /*
        &:hover {
          opacity:1;
          animation-name: none;
        }
        */
      }
    }


    /////////// FENCES ////////////
    .top-fence {
      position: absolute;
      width: 96px;
      height: 11px;
      background-color: rgba(0,255,0,0.5);
      box-sizing: border-box;
      border:1px solid black;
    }

    .estate-fence {
      position: absolute;
      height: 180px;
      width: 12px;
      background-color: rgba(0,0,255,0.5);
      box-sizing: border-box;
      border:1px solid black;
    }

    @each $x, $street in $fences {
      $left:map-get($street, 'left');
      @for $y from 1 through length(map-get($street, 'widths')) {
        .top-fence[data-x="#{$x}"][data-y="#{$y - 1}"] {
          left: $left;
          top: map-get($street, 'top');
          width: nth(map-get($street, 'widths'), $y);
        }

        .estate-fence[data-x="#{$x}"][data-y="#{$y - 1}"] {
          left: $left - 6px;
          top: map-get($street, 'top') - 11px;
        }

        $left:$left + nth(map-get($street, 'widths'), $y);
      }
    }



    /////////// PARKS ////////////
    .park {
      position: absolute;
      height: 50px;
      width: 50px;
      background-color: rgba(255,0,255,0.5);
      box-sizing: border-box;
      border:1px solid black;

      @each $x, $street in $parks {
        $left:map-get($street, 'left');
        @for $y from 1 through map-get($street, 'n') {
          &[data-x="#{$x}"][data-y="#{$y - 1}"] {
            left: $left + ($y - 1)*52px;
            top: map-get($street, 'top');
          }
        }
      }
    }


  /*****************************
  ******************************
  ********* LOWER PART *********
  ******************************
  *****************************/
    /////////// POOLS ////////////
    .score-pool {
      position: absolute;
      height: 45px;
      width: 45px;
      background-color: rgba(255,0,255,0.5);
      box-sizing: border-box;
      border:1px solid black;

      @for $x from 1 through 9 {
        &[data-x="#{$x - 1}"] {
          $i:ceil($x / 2);
          top: nth($scorePools, $i);
          left: if($x % 2 == 1, 337px, 385px);;
        }
      }
    }


    /////////// TEMP ////////////
    .score-temp {
      position: absolute;
      height: 42px;
      width: 42px;
      transform:rotate(45deg);
      background-color: rgba(0,255,255,0.5);
      box-sizing: border-box;
      border:1px solid black;

      @for $x from 1 through 11 {
        &[data-x="#{$x - 1}"] {
          top: map-get(nth($scoreTemps, $x), 'top');
          left: map-get(nth($scoreTemps, $x), 'left');
        }
      }
    }


    /////////// ESTATES ////////////
    .score-estate {
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: rgba(0,255,0,0.5);
      box-sizing: border-box;
      border:1px solid black;

      @for $x from 1 through 6 {
        @for $y from 1 through map-get(nth($scoreEstates, $x), 'n') {
          &[data-x="#{$x - 1}"][data-y="#{$y - 1}"] {
            top: map-get(nth($scoreEstates, $x), 'top') + ($y - 1)*44px;
            left: map-get(nth($scoreEstates, $x), 'left');
          }
        }
      }
    }

    /////////// BIS ////////////
    .score-bis {
      position: absolute;
      height: 45px;
      width: 45px;
      background-color: rgba(0,255,255,0.5);
      box-sizing: border-box;
      border:1px solid black;

      @for $x from 1 through 9 {
        &[data-x="#{$x - 1}"] {
          $i:ceil($x / 2);
          top: nth($scoreBis, $i);
          left: if($x % 2 == 1, 1153px, 1208px);;
        }
      }
    }

/****************************
*****************************
********* SCRIBBLE  *********
*****************************
****************************/
    .scribble {
      width:100%;
      height:100%;

      .scribble-path {
        stroke-dasharray: 4500;
        stroke-dashoffset: 0;
        stroke:black;
      }

      &.highlight .scribble-path {
        stroke:red;
      }

      &.animate .scribble-path {
        stroke-dashoffset: 4500;
        animation: drawScribble 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite;

        @keyframes drawScribble {
          to {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
}











.help_card_tooltip {
    width: 35vw;
    height: calc(35vw * 768 / 1063);
    background-image: url(img/help_card.png);
    background-size: cover;
}

.score_sheet_icon {
    width: 30px;
    height: 30px;
    background-image: url(img/board.png);
    background-size: cover;
}

.help_card_icon {
    width: 30px;
    height: calc(30px * 768 / 1063);
    background-image: url(img/help_card.png);
    background-size: cover;
}

.last_turn_icon {
    width: calc(30px * 768 / 1063);
    height: calc(30px * 768 / 1063);
    background-image: url(img/conversation.png);
    background-size: cover;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90vw;
    height: 90vw;
    text-align: center;
    /* Could be more or less, depending on screen size */
}

.modal-content.modal-content-effect {
    width: 100%;
    height: auto;
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: sticky;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.house_div {
    width: 5.6%;
    height: 5.6%;
    line-height: 5.6%;
    /* Should be the same as height to center the text. Doesn't support multilines */
    text-align: center;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlighted.empty_house {
    border: solid red;
    background-image: url(img/truelle.png);
    background-size: cover;
    animation: 2s ease-in-out 0.5s infinite alternate hammerHighlight;
}


.plan_fence_div {
    width: 6.6%;
    height: 0.6%;
    position: absolute;
}

.plan_fence_div.highlighted:not(.selected) {
    border: solid white;
    background-color: black;
    animation: 2s ease-in-out 0.5s infinite alternate planFenceHighlight;
}

@keyframes planFenceHighlight {
    from {
        background-color: white;
    }
    to {
        background-color: black;
    }
}

.street0 {
    top: 8.4%;
}

.street1 {
    top: 26.2%;
}

.street2 {
    top: 44.2%;
}

.estate_fence_div {
    width: 0.6%;
    height: 10.9%;
    margin-left: -0.9%;
    position: absolute;
}

.estate_fence_div.highlighted {
    border: solid BurlyWood;
    animation: 2s ease-in-out 0.5s infinite alternate estateFenceHighlight;
}

@keyframes estateFenceHighlight {
    from {
        box-shadow: 0px 0px 0px BurlyWood;
    }
    to {
        box-shadow: 0px 0px 12px 6px BurlyWood;
    }
}

.park_div {
    width: 2.9%;
    height: 2.9%;
    margin-top: -3.8%;
    position: absolute;
}

.park_div.street2 {
    margin-top: -3.9%;
}

.park_div.highlighted {
    border: solid lawngreen;
    border-radius: 100%;
    animation: 2s ease-in-out 0.5s infinite alternate parkButtonHighlight;
}

@keyframes parkButtonHighlight {
    from {
        box-shadow: 0px 0px 0px lawngreen;
    }
    to {
        box-shadow: 0px 0px 12px 6px lawngreen;
    }
}



@keyframes hammerHighlight {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tentative {
    color: blue;
}

.estate_fence_div.upgraded {
    background-color: black;
    border: solid BurlyWood;
}

.plan_fence_div.selected {
    border: 2px dashed black;
    border-right: none;
    border-left: none;
}

.plan_score_div {
    /* border: 1px solid black; */
    width: 3%;
    height: 3%;
    position: absolute;
    left: 5.7%;
    text-align: center;
}

.plan_1_score {
    top: 67.6%;
}

.plan_2_score {
    top: 75.4%;
}

.plan_3_score {
    top: 83.3%;
}

.park_score_div {
    width: 3%;
    height: 3%;
    position: absolute;
    text-align: center;
    left: 14%;
}

.park_0_score {
    top: 73.3%;
}

.park_1_score {
    top: 78.3%;
}

.park_2_score {
    top: 83.1%;
}

.pool_score_div {
    width: 2.3%;
    height: 2.3%;
    position: absolute;
}

.pool_score_div.highlighted {
    border: 1px solid royalblue;
    border-radius: 30%;
    animation: 2s ease-in-out 0.5s infinite alternate poolHighlight;
}

@keyframes poolHighlight {
    from {
        box-shadow: 0px 0px 0px royalblue;
    }
    to {
        box-shadow: 0px 0px 12px 6px royalblue;
    }
}

.pool_column_0 {
    left: 22%;
}

.pool_column_1 {
    left: 25.1%;
}

.pool_line_0 {
    top: 71.3%;
}

.pool_line_1 {
    top: 74.6%;
}

.pool_line_2 {
    top: 77.9%;
}

.pool_line_3 {
    top: 81.2%;
}

.pool_line_4 {
    top: 84.4%;
}

.real_estate_score_div {
    width: 2.3%;
    height: 2.3%;
    position: absolute;
}

.real_estate_score_div.highlighted {
    border: 1px solid purple;
    border-radius: 30%;
    animation: 2s ease-in-out 0.5s infinite alternate realEstateHighlight;
}

@keyframes realEstateHighlight {
    from {
        box-shadow: 0px 0px 0px purple;
    }
    to {
        box-shadow: 0px 0px 12px 6px purple;
    }
}

.real_estate_size_1 {
    left: 44.6%;
}

.real_estate_size_2 {
    left: 49.2%;
}

.real_estate_size_3 {
    left: 53.4%;
}

.real_estate_size_4 {
    left: 58%;
}

.real_estate_size_5 {
    left: 62.6%;
}

.real_estate_size_6 {
    left: 66.9%;
}

.real_estate_1_1 {
    top: 75.7%;
}

.real_estate_2_1 {
    top: 74.2%;
}

.real_estate_2_2 {
    top: 77%;
}

.real_estate_3_1 {
    top: 72.5%;
}

.real_estate_3_2 {
    top: 75.3%;
}

.real_estate_3_3 {
    top: 78.2%;
}

.real_estate_4_1 {
    top: 70.9%;
}

.real_estate_4_2 {
    top: 73.7%;
}

.real_estate_4_3 {
    top: 76.6%;
}

.real_estate_4_4 {
    top: 79.4%;
}

.real_estate_5_1 {
    top: 69.5%;
}

.real_estate_5_2 {
    top: 72.3%;
}

.real_estate_5_3 {
    top: 75%;
}

.real_estate_5_4 {
    top: 77.9%;
}

.real_estate_6_1 {
    top: 68%;
}

.real_estate_6_2 {
    top: 70.8%;
}

.real_estate_6_3 {
    top: 73.6%;
}

.real_estate_6_4 {
    top: 76.4%;
}

.real_estate_score_div.upgraded {
    /* This is computed through https://codepen.io/sosuke/pen/Pjoqqp, asking for purple (#800080) */
    background-image: url(img/sribedover.png);
    background-size: 100% 100%;
    filter: invert(14%) sepia(38%) saturate(5639%) hue-rotate(286deg) brightness(105%) contrast(124%);
}

.pool_score_div.upgraded {
    /* This is computed through https://codepen.io/sosuke/pen/Pjoqqp, asking for purple (#4169E1) */
    background-image: url(img/sribedover.png);
    background-size: 100% 100%;
    filter: invert(30%) sepia(53%) saturate(4170%) hue-rotate(220deg) brightness(99%) contrast(77%);
}

.park_div.upgraded {
    /* This is computed through https://codepen.io/sosuke/pen/Pjoqqp, asking for green (#006400) */
    background-image: url(img/sribedover.png);
    background-size: 100% 100%;
    filter: invert(16%) sepia(70%) saturate(3586%) hue-rotate(99deg) brightness(99%) contrast(104%);
}

.temp_score_div.upgraded {
    background-image: url(img/sribedover.png);
    background-size: 100% 100%;
    /* filter: invert(78%) sepia(31%) saturate(7190%) hue-rotate(359deg) brightness(104%) contrast(106%); */
}

.bis_score_div.upgraded {
    /* This is computed through https://codepen.io/sosuke/pen/Pjoqqp, asking for the board's color (#cf5736) */
    background-image: url(img/sribedover.png);
    background-size: 100% 100%;
    filter: invert(70%) sepia(72%) saturate(6728%) hue-rotate(344deg) brightness(89%) contrast(80%);
}

.permit_refusal_score_div.used {
    /* This is computed through https://codepen.io/sosuke/pen/Pjoqqp, asking for the board's color (#cf5736) */
    background-image: url(img/sribedover.png);
    background-size: 100% 100%;
    filter: invert(70%) sepia(72%) saturate(6728%) hue-rotate(344deg) brightness(89%) contrast(80%);
}

.roundabout_score_div.used {
    /* This is computed through https://codepen.io/sosuke/pen/Pjoqqp, asking for the board's color (#cf5736) */
    background-image: url(img/sribedover.png);
    background-size: 100% 100%;
    filter: invert(70%) sepia(72%) saturate(6728%) hue-rotate(344deg) brightness(89%) contrast(80%);
}

.plan_fence_div.used {
    background-color: black;
    border: 2px dashed black;
}

.temp_score_div {
    width: 2.3%;
    height: 2.3%;
    position: absolute;
    transform: rotate(45deg);
}

.temp_column_0 {
    left: 32.2%;
}

.temp_column_1 {
    left: 36.3%;
}

.temp_column_2 {
    left: 34.3%;
}

.temp_line_0 {
    top: 69.8%;
}

.temp_line_1 {
    top: 71.6%;
}

.temp_line_2 {
    top: 73.6%;
}

.temp_line_3 {
    top: 75.4%;
}

.temp_line_4 {
    top: 77.4%;
}

.temp_line_5 {
    top: 79.3%;
}

.temp_line_6 {
    top: 81.2%;
}

.bis_score_div {
    width: 2.3%;
    height: 2.3%;
    position: absolute;
}

.bis_score_div.highlighted {
    border: solid 2px darkred;
    border-radius: 30%;
    animation: 2s ease-in-out 0.5s infinite alternate bisHighlight;
}

@keyframes bisHighlight {
    from {
        box-shadow: 0px 0px 0px darkred;
    }
    to {
        box-shadow: 0px 0px 12px 6px darkred;
    }
}

.bis_column_0 {
    left: 74.8%;
}

.bis_column_1 {
    left: 78.4%;
}

.bis_line_0 {
    top: 68.2%;
}

.bis_line_1 {
    top: 72.3%;
}

.bis_line_2 {
    top: 76.4%;
}

.bis_line_3 {
    top: 80.5%;
}

.bis_line_4 {
    top: 84.5%;
}

.roundabout_score_div {
    width: 3.2%;
    height: 3.2%;
    position: absolute;
    left: 84.8%;
}

.roundabout_0_score {
    top: 61.6%;
}

.roundabout_1_score {
    top: 65.4%;
}

.permit_refusal_score_div {
    width: 3.2%;
    height: 3.2%;
    position: absolute;
    left: 84.8%;
}

.permit_refusal_0_score {
    top: 73.4%;
}

.permit_refusal_1_score {
    top: 77.3%;
}

.permit_refusal_2_score {
    top: 81.2%;
}

.house_pool_div {
    width: 5.6%;
    height: 2.5%;
    position: absolute;
}

.house_pool_div.built {
    /* This is computed through https://codepen.io/sosuke/pen/Pjoqqp, asking for purple (#4169E1) */
    background-image: url(img/circled.png);
    background-size: 100% 100%;
    filter: invert(30%) sepia(53%) saturate(4170%) hue-rotate(220deg) brightness(99%) contrast(77%);
}

.pool0 {
    top: 9.5%;
}

.pool1 {
    top: 27.4%;
}

.pool2 {
    top: 45.3%;
}

.easy_opening_button {
    width: 15%;
    margin: 2%;
    height: 5%;
}

.result_score_div {
    width: 3%;
    height: 3%;
    position: absolute;
    top: 90.5%;
    text-align: center;
}

.result_score_plans {
    left: 5.9%;
}

.result_score_parks {
    left: 14%;
}

.result_score_pools {
    left: 23%;
}

.result_score_temps {
    left: 33.6%;
}

.result_score_real_estate_1 {
    left: 43.7%;
}

.result_score_real_estate_2 {
    left: 48.2%;
}

.result_score_real_estate_3 {
    left: 52.7%;
}

.result_score_real_estate_4 {
    left: 57.3%;
}

.result_score_real_estate_5 {
    left: 62.2%;
}

.result_score_real_estate_6 {
    left: 67.2%;
}

.result_score_bis {
    left: 76.4%;
}

.result_score_penalties {
    left: 85.2%;
}

.result_score_total {
    left: 92%;
}

.real_estate_score_number_div {
    width: 2.3%;
    height: 2.3%;
    position: absolute;
    top: 84.5%;
}

.real_estate_number_size_1 {
    left: 45.4%;
}

.real_estate_number_size_2 {
    left: 50%;
}

.real_estate_number_size_3 {
    left: 54.9%;
}

.real_estate_number_size_4 {
    left: 59.4%;
}

.real_estate_number_size_5 {
    left: 64.3%;
}

.real_estate_number_size_6 {
    left: 69%;
}

.temp_ranking_score_div {
    width: 2.4%;
    height: 2.4%;
    position: absolute;
    top: 84.7%;
    border-radius: 100%;
}

.temp_ranking_1_score_div {
    left: 31.3%;
}

.temp_ranking_2_score_div {
    left: 34.3%;
}

.temp_ranking_3_score_div {
    left: 37.3%;
}

.temp_ranking_score_div.selected {
    border: 1px solid orange;
}

/* Debug only */

/*
.responsive_score_sheet {
    width: 900px;
    height: 900px;
} */
