$cityNameIceCream:(
  "top": 175px,
  "left": 55px,
);


$housesIceCream:(
  0:(
    0:("left" : 348px, "top" : 220px),
    1:("left" : 452px, "top" : 220px),
    2:("left" : 554px, "top" : 236px),
    3:("left" : 659px, "top" : 221px),
    4:("left" : 761px, "top" : 220px),
    5:("left" : 866px, "top" : 220px),
    6:("left" : 967px, "top" : 236px),
    7:("left" : 1069px, "top" : 238px),
    8:("left" : 1171px, "top" : 220px),
    9:("left" : 1271px, "top" : 220px),
  ),

  1:(
    0:("left" : 247px, "top" : 513px),
    1:("left" : 348px, "top" : 497px),
    2:("left" : 452px, "top" : 497px),
    3:("left" : 555px, "top" : 514px),
    4:("left" : 660px, "top" : 497px),
    5:("left" : 762px, "top" : 497px),
    6:("left" : 865px, "top" : 497px),
    7:("left" : 967px, "top" : 513px),
    8:("left" : 1067px, "top" : 497px),
    9:("left" : 1171px, "top" : 497px),
    10:("left" : 1271px, "top" : 497px),
  ),

  2:(
    0:("left" : 142px, "top" : 771px),
    1:("left" : 249px, "top" : 768px),
    2:("left" : 348px, "top" : 771px),
    3:("left" : 452px, "top" : 770px),
    4:("left" : 555px, "top" : 772px),
    5:("left" : 659px, "top" : 770px),
    6:("left" : 764px, "top" : 785px),
    7:("left" : 865px, "top" : 771px),
    8:("left" : 968px, "top" : 772px),
    9:("left" : 1066px, "top" : 771px),
    10:("left" : 1171px, "top" : 785px),
    11:("left" : 1271px, "top" : 771px),
  ),
);

$poolsIceCream:(
  ("x":0, "y":2, "left":565px, "top":174px),
  ("x":0, "y":6, "left":982px, "top":174px),
  ("x":0, "y":7, "left":1083px, "top":178px),
  ("x":1, "y":0, "left":260px, "top":450px),
  ("x":1, "y":3, "left":568px, "top":450px),
  ("x":1, "y":7, "left":982px, "top":456px),

  ("x":2, "y":1, "left":263px, "top":728px),
  ("x":2, "y":6, "left":775px, "top":727px),
  ("x":2, "y":10, "left":1182px, "top":721px),
);

$fencesIceCream:(
  0:(
    "left":332px,
    "top":167px,
    "widths" : (105px, 102px, 106px, 100px, 104px, 103px, 102px, 101px, 102px, 101px)
  ),
  1:(
    "left":228px,
    "top":442px,
    "widths" : (107px, 101px, 103px, 106px, 102px, 103px, 103px, 102px, 100px, 103px, 100px)
  ),
  2:(
    "left":124px,
    "top":720px,
    "widths" : (108px, 103px, 102px, 102px, 106px, 101px, 103px, 103px, 102px, 101px, 102px, 100px)
  ),
);

$parksIceCream:(
  0:(
    "left":1191px,
    "top":108px,
    "n" : 3,
  ),
  1:(
    "left":1138px,
    "top":382px,
    "n" : 4,
  ),
  2:(
    "left":1084px,
    "top":657px,
    "n" : 5,
  ),
);


$scorePoolsIceCream:(
  "left":(413px, 460px),
  "top":(1129px, 1178px, 1228px, 1281px, 1331px)
);

$scoreTempsIceCream:(
  ("top":1106px, "left":561px),
  ("top":1106px, "left":622px),

  ("top":1136px, "left":592px),

  ("top":1164px, "left":561px),
  ("top":1164px, "left":623px),

  ("top":1194px, "left":592px),

  ("top":1222px, "left":561px),
  ("top":1222px, "left":622px),

  ("top":1252px, "left":592px),

  ("top":1283px, "left":561px),
  ("top":1283px, "left":623px),
);

$scoreEstatesIceCream:(
  ("top":1197px, "left":736px, "n":1),
  ("top":1174px, "left":807px, "n":2),
  ("top":1148px, "left":873px, "n":3),
  ("top":1123px, "left":940px, "n":4),
  ("top":1101px, "left":1010px, "n":4),
  ("top":1079px, "left":1076px, "n":4),
);


$scoreBisIceCream:(
  "top": (1081px, 1144px, 1207px, 1270px, 1331px),
  "left": (1185px, 1240px)
);


$scoreRoundaboutIceCream:(
  "top":(981px, 1039px),
  "left":1333px,
);


$permitRefusalIceCream:(
  "top":(1161px, 1222px, 1282px),
  "left":1333px,
);


$scoreCountersIceCream:(
  // PLANS //
  "plan-0": (1063px, 77px),
  "plan-1":(1183px, 75px),
  "plan-2":(1304px,74px),
  "plan-total":(1413px,77px),

  // PARKS //
  "park-0":(1146px,292px),
  "park-1":(1224px,292px),
  "park-2":(1299px,292px),
  "park-total":(1413px,292px),

  // POOLS //
  "pool-total":(1413px,417px),

  // TEMP //
  "temp-total":(1413px,569px),

  // ESTATES //
  "estate-mult-0":(1326px,728px),
  "estate-mult-1":(1326px,799px),
  "estate-mult-2":(1326px,873px),
  "estate-mult-3":(1326px,943px),
  "estate-mult-4":(1326px,1016px),
  "estate-mult-5":(1326px,1088px),

  "estate-total-0":(1413px,710px),
  "estate-total-1":(1413px,779px),
  "estate-total-2":(1413px,848px),
  "estate-total-3":(1413px,918px),
  "estate-total-4":(1413px,993px),
  "estate-total-5":(1413px,1067px),

  // BIS //
  "bis-total":(1413px,1199px),

  // OTHER //
  "other-total":(1413px,1322px),

  // TOTAL //
  "total":(1413px,1415px),
);


$iceCreams:(
  ("x":0, "y":0, "left":375px, "top":279px),
  ("x":0, "y":2, "left":577px, "top":295px),
  ("x":0, "y":4, "left":783px, "top":277px),
  ("x":0, "y":5, "left":891px, "top":282px),
  ("x":0, "y":7, "left":1090px, "top":294px),
  ("x":0, "y":9, "left":1298px, "top":281px),

  ("x":1, "y":0, "left":271px, "top":566px),
  ("x":1, "y":1, "left":372px, "top":557px),
  ("x":1, "y":3, "left":576px, "top":569px),
  ("x":1, "y":4, "left":680px, "top":559px),
  ("x":1, "y":6, "left":886px, "top":557px),
  ("x":1, "y":8, "left":1087px, "top":555px),
  ("x":1, "y":9, "left":1190px, "top":559px),

  ("x":2, "y":0, "left":167px, "top":830px),
  ("x":2, "y":1, "left":274px, "top":838px),
  ("x":2, "y":3, "left":476px, "top":829px),
  ("x":2, "y":4, "left":582px, "top":830px),
  ("x":2, "y":5, "left":682px, "top":830px),
  ("x":2, "y":7, "left":887px, "top":825px),
  ("x":2, "y":9, "left":1091px, "top":827px),
  ("x":2, "y":10, "left":1194px, "top":838px),
);
