@import 'welcometo-base.variables';
@import 'welcometo-icecream.variables';

$cityName: (
  0: $cityNameBase,
  1: $cityNameIceCream,
);


$houses: (
  0: $housesBase,
  1: $housesIceCream,
);

$pools: (
  0: $poolsBase,
  1: $poolsIceCream,
);

$fences: (
  0: $fencesBase,
  1: $fencesIceCream,
);

$parks: (
  0: $parksBase,
  1: $parksIceCream,
);

$scorePools: (
  0: $scorePoolsBase,
  1: $scorePoolsIceCream,
);

$scoreTemps: (
  0: $scoreTempsBase,
  1: $scoreTempsIceCream,
);

$scoreEstates: (
  0: $scoreEstatesBase,
  1: $scoreEstatesIceCream,
);

$scoreBis: (
  0: $scoreBisBase,
  1: $scoreBisIceCream,
);

$scoreRoundabout: (
  0: $scoreRoundaboutBase,
  1: $scoreRoundaboutIceCream,
);

$permitRefusal: (
  0: $permitRefusalBase,
  1: $permitRefusalIceCream,
);


$scoreCounters: (
  0: $scoreCountersBase,
  1: $scoreCountersIceCream,
);
