$cityNameBase:(
  "top": 253px,
  "left": 92px,
);

$housesBase:(
  0:(
    0:("left" : 374px, "top" : 186px),
    1:("left" : 478px, "top" : 186px),
    2:("left" : 581px, "top" : 201px),
    3:("left" : 686px, "top" : 186px),
    4:("left" : 788px, "top" : 186px),
    5:("left" : 893px, "top" : 186px),
    6:("left" : 995px, "top" : 202px),
    7:("left" : 1097px, "top" : 202px),
    8:("left" : 1199px, "top" : 186px),
    9:("left" : 1300px, "top" : 186px),
  ),

  1:(
    0:("left" : 273px, "top" : 478px),
    1:("left" : 374px, "top" : 462px),
    2:("left" : 478px, "top" : 462px),
    3:("left" : 581px, "top" : 479px),
    4:("left" : 686px, "top" : 462px),
    5:("left" : 788px, "top" : 462px),
    6:("left" : 893px, "top" : 462px),
    7:("left" : 995px, "top" : 479px),
    8:("left" : 1096px, "top" : 462px),
    9:("left" : 1199px, "top" : 462px),
    10:("left" : 1300px, "top" : 462px),
  ),

  2:(
    0:("left" : 167px, "top" : 738px),
    1:("left" : 273px, "top" : 753px),
    2:("left" : 374px, "top" : 738px),
    3:("left" : 478px, "top" : 738px),
    4:("left" : 581px, "top" : 738px),
    5:("left" : 686px, "top" : 738px),
    6:("left" : 790px, "top" : 753px),
    7:("left" : 893px, "top" : 738px),
    8:("left" : 995px, "top" : 738px),
    9:("left" : 1097px, "top" : 738px),
    10:("left" : 1199px, "top" : 752px),
    11:("left" : 1300px, "top" : 738px),
  ),
);


$poolsBase:(
  ("x":0, "y":2, "left":592px, "top":139px),
  ("x":0, "y":6, "left":1011px, "top":140px),
  ("x":0, "y":7, "left":1112px, "top":142px),
  ("x":1, "y":0, "left":287px, "top":417px),
  ("x":1, "y":3, "left":594px, "top":414px),
  ("x":1, "y":7, "left":1008px, "top":418px),

  ("x":2, "y":1, "left":289px, "top":692px),
  ("x":2, "y":6, "left":804px, "top":692px),
  ("x":2, "y":10, "left":1210px, "top":688px),
);

$fencesBase:(
  0:(
    "left":357px,
    "top":134px,
    "widths" : (105px, 104px, 105px, 102px, 103px, 103px, 103px, 101px, 103px, 103px)
  ),
  1:(
    "left":253px,
    "top":409px,
    "widths" : (107px, 102px, 104px, 105px, 102px, 103px, 104px, 102px, 101px, 102px, 103px)
  ),
  2:(
    "left":149px,
    "top":686px,
    "widths" : (108px, 103px, 102px, 104px, 105px, 102px, 103px, 103px, 102px, 101px, 103px, 103px)
  ),
);


$parksBase:(
  0:(
    "left":1220px,
    "top":73px,
    "margin":52px,
    "n" : 3,
  ),
  1:(
    "left":1166px,
    "top":347px,
    "margin":52px,
    "n" : 4,
  ),
  2:(
    "left":1114px,
    "top":623px,
    "margin":52px,
    "n" : 5,
  ),
);


$scorePoolsBase:(
  "left":(337px, 385px),
  "top":(1099px, 1148px, 1198px, 1251px, 1301px),
);

$scoreTempsBase:(
  ("top":1076px, "left":496px),
  ("top":1076px, "left":558px),

  ("top":1106px, "left":527px),

  ("top":1134px, "left":496px),
  ("top":1134px, "left":558px),

  ("top":1164px, "left":527px),

  ("top":1192px, "left":496px),
  ("top":1192px, "left":558px),

  ("top":1222px, "left":527px),

  ("top":1253px, "left":496px),
  ("top":1253px, "left":558px),
);

$scoreEstatesBase:(
  ("top":1168px, "left":687px, "n":1),
  ("top":1145px, "left":760px, "n":2),
  ("top":1118px, "left":825px, "n":3),
  ("top":1094px, "left":894px, "n":4),
  ("top":1071px, "left":966px, "n":4),
  ("top":1048px, "left":1033px, "n":4),
);


$scoreBisBase:(
  "top": (1051px, 1114px, 1177px, 1240px, 1301px),
  "left": (1153px, 1208px)
);

$scoreRoundaboutBase:(
  "top":(948px, 1007px),
  "left":1311px,
);

$permitRefusalBase:(
  "top":(1133px, 1194px, 1254px),
  "left":1312px,
);


$scoreCountersBase:(
  // PLANS //
  "plan-0": (1034px, 82px),
  "plan-1":(1156px,80px),
  "plan-2":(1278px,80px),
  "plan-total":(1388px,82px),

  // PARKS //
  "park-0":(1121px,206px),
  "park-1":(1199px,206px),
  "park-2":(1272px,206px),
  "park-total":(1388px,206px),

  // POOLS //
  "pool-total":(1388px,347px),

  // TEMP //
  "temp-total":(1388px,510px),

  // ESTATES //
  "estate-mult-0":(1296px,680px),
  "estate-mult-1":(1296px,748px),
  "estate-mult-2":(1296px,821px),
  "estate-mult-3":(1296px,891px),
  "estate-mult-4":(1296px,967px),
  "estate-mult-5":(1296px,1043px),

  "estate-total-0":(1388px,664px),
  "estate-total-1":(1388px,736px),
  "estate-total-2":(1388px,802px),
  "estate-total-3":(1388px,875px),
  "estate-total-4":(1388px,953px),
  "estate-total-5":(1388px,1028px),

  // BIS //
  "bis-total":(1388px,1171px),

  // OTHER //
  "other-total":(1388px,1306px),

  // TOTAL //
  "total":(1388px,1411px),
);
