/********************************
*** Hightlight recent actions ***
********************************/
@for $t from 1 through 33 {
  #game_play_area[data-turn="#{$t}"] .house-number[data-turn="#{$t}"] {
    color:red;
  }

  #game_play_area[data-turn="#{$t}"] [data-turn="#{$t}"] .scribble-path  { stroke:red; }
  #game_play_area[data-turn="#{$t}"] [data-turn="#{$t}"] .roundabout-dot  { fill:red; }
}



/****************************
*****************************
********* SCRIBBLE  *********
*****************************
****************************/
.scribble, .scribble-circle, .scribble-line, .scribble-line-hor, .scribble-roundabout {
  width:100%;
  height:100%;
  .scribble-path {
    stroke:black;
    stroke-linecap:round;
  }


  &.animate .scribble-path {
    animation: drawScribble 2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-fill-mode: forwards;
  }
  @keyframes drawScribble {
    to {
      stroke-dashoffset: 0;
    }
  }
}


.scribble {
  .scribble-path {
    stroke-dasharray: 4500;
    stroke-dashoffset: 0;
  }
  &.animate .scribble-path {
    stroke-dashoffset: 4500;
  }
}


.scribble-circle {
  .scribble-path {
    stroke-dasharray: 1500;
    stroke-dashoffset: 0;
  }
  &.animate .scribble-path {
    stroke-dashoffset: 1500;
  }
}


.scribble-line, .scribble-line-hor {
  .scribble-path {
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
  }
  &.animate .scribble-path {
    stroke-dashoffset: 300;
  }
}

.scribble-line {
  padding-top:12px;
}


.scribble-roundabout {
  height:81%;

  .roundabout-circle {
    fill:none;
    stroke-width:3;
    stroke-dasharray: 150;
    stroke-dashoffset: 0;
  }
  &.animate .roundabout-circle {
    stroke-dashoffset: 150;
  }

  .roundabout-dot {
    stroke:none !important;
    fill:black;
  }

  &.animate .roundabout-dot {
    animation: drawDot 3s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-fill-mode: forwards;
    transform-origin: 44.3px 118.5px;;
  }

  @keyframes drawDot {
    0% {
      opacity:0;
    }
    50% {
      opacity:0;
      transform:scale(2.5);
    }
    100% {
      opacity:100%;
      transform:none;
    }
  }
}
